[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

UserSettings/

.vs/
.vscode/
.idea/
.gradle/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.DS_Store

DerivedData/

xcuserdata/
*.xcworkspace
*.xcuserstate

*.apk
*.aab
*.ipa

Recordings/
Coverage/

Documentation~
Backup/
Backups/

# Secrets
.env
.env.*
secret.json
config.local.json